<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Registro de Citas
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="milogin()">
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="addEvent()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-calendar (onDaySelect)="onDaySelect($event)" (onTimeSelected)="onTimeSelected($event)" step="30"
    class="calendar">
  </ion-calendar>
  <div *ngIf="nombre!=''">



    <ion-list>
      <ion-item *ngIf="numerocitas > 0; else templateName" color="primary" no-lines>
          <h2>Sumario Citas</h2>
      </ion-item>
      <ng-template #templateName>
        <ion-item color="secondary" no-lines>
          <h2>No hay personas registradas para este día</h2>

        </ion-item>
      </ng-template>
      <ion-item-sliding #slidingItem *ngFor="let registro of registros;let j = index">
        <ion-item>
            <h2><b>{{registro.nombre}}</b></h2>
            <h2><b>Hora: {{registro.hora}}</b></h2>
            <h3>Patología: {{registro.patologia}}</h3>
            <p>Cédula: {{registro.cedula}} Teléfono: {{registro.telefono}}</p>

                <ion-icon *ngIf="registro.atendido==1" name="checkbox" item-end></ion-icon>
                <ion-icon *ngIf="registro.atendido==0" name="eye" item-end></ion-icon>

        </ion-item>
       
        <ion-item-options side="right">
          <button ion-button color="secondary" (click)="visto(registro.id,slidingItem,j)">
            <ion-icon name="checkmark-circle"></ion-icon>
            Atendido
          </button>
          <button ion-button color="danger" (click)="eliminar(registro.id,slidingItem,j)">
            <ion-icon name="trash"></ion-icon>
            Eliminar
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item text-wrap>
        <h2>Número de Citas ya programadas</h2>
        <ion-note item-end>
          <ion-badge color="danger">
            <h2>{{numerocitas}}</h2>
          </ion-badge>
        </ion-note>
      </ion-item>


    </ion-list>
  </div>
  <div *ngIf="nombre==''">
    <ion-item text-wrap>
      <h2>Número de Citas ya programadas</h2>
      <ion-note item-end>
        <ion-badge color="danger">
          <ion-spinner *ngIf="spin"></ion-spinner>
          <h2>{{numerocitas}}</h2>
        </ion-badge>
      </ion-note>
    </ion-item>
    <ion-item>
      Hora disponible: {{proxCitaStr}}
    </ion-item>
  </div>
</ion-content>
<ion-footer *ngIf="nombre!=''">
  <ion-item>Administrando:{{nombre}}</ion-item>


</ion-footer>