<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Registro de Citas
    </ion-title>
    <ion-buttons start>
        <button ion-button icon-only (click)="milogin()">
          <ion-icon name="person"></ion-icon>
        </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="addEvent()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
 
<ion-content>
<ion-calendar 
(onDaySelect)="onDaySelect($event)"
(onTimeSelected)="onTimeSelected($event)"

step="30"
class="calendar">
</ion-calendar>
<div  *ngIf="nombre!=''">
    
            <h2>Sumario Citas</h2>
        
<ion-list>
    <ion-item *ngIf="numerocitas > 0; else templateName" color="primary" no-lines  >
        <ion-row>
         <ion-col col-4>
           <h2 ion-text color="light" style="font-size:1.2rem" >Nombre</h2>
        
          </ion-col>
          <ion-col col-3>
              <h2 ion-text color="light" style="font-size:1.2rem" >Cédula</h2>
        
          </ion-col>
          <ion-col col-3>
              <ion-icon name="call" style="font-size:1.2rem" ></ion-icon>
          </ion-col>
          <ion-col col-2>
            <ion-icon name="information-circle" style="font-size:1.2rem" ></ion-icon>
        </ion-col>
        </ion-row>        
    </ion-item>
    <ng-template #templateName>
      <ion-item color="secondary" no-lines>
          <h2 >No hay personas registradas para este día</h2>

      </ion-item>
    </ng-template>
    <ion-item-sliding #slidingItem *ngFor="let registro of registros;let j = index">
      <ion-item class="mitam" ion-text-color="light">
        <ion-row>
          <ion-col col-4 style="font-size:1.2rem">
          <h2 style="font-size:1.2rem;color:blue;font-weight:bold">{{registro.nombre}}</h2>
          <h3 style="font-size:1rem;color:blue">{{registro.patologia}}</h3>
        
          </ion-col>
          <ion-col col-3>
              <h5 style="font-size:0.8rem">{{registro.cedula}}</h5>
        
          </ion-col>
          <ion-col col-3>
              <h4 style="font-size:0.8rem">{{registro.telefono}}</h4>
              {{registro.atendido}} 
          </ion-col>
          
          <ion-col col-2 style="font-size:2rem" color="light">
              <ion-icon  *ngIf="registro.atendido==1" name="checkbox"></ion-icon>
              <ion-icon  *ngIf="registro.atendido==0" name="eye"></ion-icon>

          </ion-col>
        </ion-row> 
      </ion-item>
    <ion-item-options side="right">
        <button ion-button color="secondary" (click)="visto(registro.id,slidingItem,j)">
          <ion-icon name="checkmark-circle"></ion-icon>
          Atendido
        </button>
        <button ion-button color="danger" (click)="visto(registro.id,slidingItem,j)">
          <ion-icon name="trash"></ion-icon>
          Eliminar
        </button>
    </ion-item-options>
  </ion-item-sliding>
  <ion-item text-wrap>
    <h2>Número de Citas ya programadas</h2>
    <ion-note item-end>
        <ion-badge color="danger">
        <h2>{{numerocitas}}</h2>
        </ion-badge>
    </ion-note> 
  </ion-item>


</ion-list>
</div>
<div  *ngIf="nombre==''">
  <ion-item text-wrap>
    <h2>Número de Citas ya programadas</h2>
    <ion-note item-end>
        <ion-badge color="danger">
          <ion-spinner *ngIf="spin"></ion-spinner>
        <h2>{{numerocitas}}</h2>
        </ion-badge>
    </ion-note> 
  </ion-item>
  <ion-item>
    Hora disponible: {{proxCitaStr}}
  </ion-item>
</div>
</ion-content>
<ion-footer >
  <ion-item *ngIf="nombre!=''">Administrando:{{nombre}}</ion-item>

  
</ion-footer>
